/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.compact.css";
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

ffxiv-bozjan-tracker-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nz-content {
    flex: 1 0 auto;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    a, a:hover, a:visited {
        color: rgba(0, 0, 0, 0.85);
    }
}