.home-menu {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 20px;

    text-align: center;
}

nz-space {
    width: 80%;
}

@media screen and ( max-width: 360px ) {
    .ant-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.logo {
    width: 20%;
}

.spacer {
    min-height: 50px;
}