<div class="spacer"></div>
<div nz-row [nzGutter]="{ xs: 120, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }" nzAlign="middle">
    <div class="home-menu" nz-col [nzLg]="{ span: 6, offset: 9, order: 1 }" [nzSm]="{ span: 16, offset: 4, order: 2 }" [nzXs]="{ span: 24, order: 2 }">
        <img src="assets/img/bozjan-tracker-logo.png" alt="logo" class="logo" />
        <h1><a routerLink="">{{ 'APP.Title' | translate }}</a></h1>
        <span>{{ 'APP.Description' | translate }}</span>

        <nz-divider></nz-divider>

        <nz-space nzDirection="vertical" nzSize="large">
            <div *ngIf="doesntExist">
                <nz-alert
                    nzType="error"
                    nzCloseable
                    nzMessage="{{ 'HOMEPAGE_CARD.Join_error' | translate }}"
                    (nzOnClose)="afterAlertClose()"
                >
                </nz-alert>
            </div>
            <nz-space-item>
                <form (ngSubmit)="joinTracker()">
                    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                        <input [(ngModel)]="searchedTrackerId" [ngModelOptions]="{standalone: true}" type="text" nz-input placeholder="{{ 'HOMEPAGE_CARD.Tracker_input_placeholder' | translate }}" />
                    </nz-input-group>
                    <ng-template #suffixButton>
                        <button nz-button type="submit" nzType="default" nzSize="large" nzSearch>{{ 'HOMEPAGE_CARD.Tracker_input_button' | translate }}</button>
                    </ng-template>
                </form>
            </nz-space-item>
                <button nz-button nzType="primary" nzBlock (click)="createTracker()" >{{ 'HOMEPAGE_CARD.Create_tracker' | translate }}</button>
        </nz-space>

        <nz-divider></nz-divider>

        <nz-space nzDirection="vertical" nzSize="large">
            <nz-space-item>
                <button routerLink="lost-actions" nz-button nzType="default" nzBlock disabled>{{ 'HOMEPAGE_CARD.Lost_actions' | translate }} (WIP)</button>
            </nz-space-item>
            <nz-space-item>
                <button nz-button nzType="default" nzBlock disabled>{{ 'HOMEPAGE_CARD.Wiki' | translate }} (WIP)</button>
            </nz-space-item>
        </nz-space>
    </div>

    <!--
    <div class="branding" nz-col [nzLg]="{ span: 12, offset: 4, order: 2 }" [nzSm]="{ span: 16, offset: 4, order: 1 }" [nzXs]="{ span: 24, order: 1 }">
        <h1>{{ 'APP.Title' | translate }}</h1>
    </div>
    -->
</div>