.home-menu {
    background: white;
    border-radius: 5px;
    padding: 20px;

    text-align: center;
}

nz-space {
    width: 80%;
}

@media screen and ( max-width: 360px ) {
    .ant-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media screen and ( min-width: 960px ) and ( min-height: 800px ) {
    .ant-row {
        margin-top: 10vh;
    }
}

.logo {
    width: 20%;
}