.tracker-module, .tracker-description {
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.tracker-module {
    text-align: center;
}

@media screen and ( max-width: 360px ) {
    .ant-col {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media screen and ( max-width: 959px ) {
    .ant-col {
        margin-bottom: 20px;
    }
}

@media screen and ( min-width: 960px ) {
    .ant-col {
        margin-top: 10vh;
    }
}

p.timer {
    font-size: large;
}