.card-content {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 10px;
}

.tracker-module {
    .card-content {
        padding: 30px;
    }
}

p.timer {
    font-size: large;
}

nz-list {
    background: #0000006e !important;
}

nz-list, nz-list-item {
    color: white !important;
}

label {
    color: white !important;
}

nz-table {

    th, td {
        color: white !important;
    }

    img {
        width: 25px;
    }
}

.map {
    h3 {
        text-align: center;
    }

    img {
        max-width: 90%;
        max-height: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}