<div nz-row [nzGutter]="{ md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div class="gutter-row" nz-col [nzLg]="{ span: 6 }" [nzSm]="{ span: 12 }" [nzXs]="{ span: 24 }">
        <div class="tracker-module">
            <div class="card-content">
                <h2>{{ 'TRACKER.Title' | translate }}</h2>
                <h3>{{ 'TRACKER.ID_name' | translate }} : {{ this.trackerId }}</h3>
                
                <nz-space nzDirection="vertical" nzSize="large">
                    <span>{{ 'TRACKER.Time_before_respawn' | translate }}:</span>
                    <p class="timer"><strong><countdown #timer [config]="{ stopTime: castrumRespawnTimer$, format: 'mm:ss', notify: [300] }" (event)="triggerAlertSound($event)" ></countdown></strong></p>
                    <nz-space-item>
                        <label nz-checkbox [(ngModel)]="isSoundActive">{{ 'TRACKER.Sound_alert' | translate }}</label>
                    </nz-space-item>
                    <nz-space-item>
                        <button nz-button [nzType]="'danger'" nzBlock (click)="showResetModal()">{{ 'TRACKER.Reset' | translate }}</button>
                    </nz-space-item>
        
                    <nz-modal
                        [(nzVisible)]="castrumModalIsVisible"
                        [nzTitle]="resetModalTitle"
                        [nzFooter]="resetModalFooter"
                        (nzOnCancel)="handleCastrumModalCancel()"
                    >
                        <p>{{ 'TRACKER_CONFIRM.Description' | translate }}</p>
                        <p><nz-input-number [(ngModel)]="lastSpawnTime" [nzMin]="1" [nzMax]="60" [nzStep]="1"></nz-input-number>&nbsp; <span>{{ 'TRACKER_CONFIRM.Minutes' | translate }}</span></p>
                        <p><strong>{{ 'TRACKER_CONFIRM.Warning' | translate }}</strong></p>
                    </nz-modal>
                    <ng-template #resetModalTitle>
                        <strong>{{ 'TRACKER_CONFIRM.Title' | translate }}</strong>
                    </ng-template>
                    <ng-template #resetModalFooter>
                        <button nz-button nzType="default" (click)="handleCastrumModalCancel()">{{ 'TRACKER_CONFIRM.Cancel_text' | translate }}</button>
                        <button nz-button nzType="primary" (click)="handleCastrumReset()" [nzLoading]="castrumModalIsConfirmLoading">{{ 'TRACKER_CONFIRM.Ok_text' | translate }}</button>
                    </ng-template>
                </nz-space>
            </div>
        </div>

        <div class="weather-module">
            <div class="card-content">
                <h3>{{ 'WEATHER.Title' | translate }}</h3>
                <!-- <p *ngFor="let item of bozjanWeather">{{ item.name }} -- {{ item.eorzeaTime }} -- {{ item.startedAt | date: "HH:mm" }}</p> -->
                <nz-table #weatherTable
                    [nzLoading]="weatherLoaded"
                    [nzData]="bozjanWeather"
                    [nzPageSize]="6"
                >
                    <thead>
                        <tr>
                            <th>{{ 'WEATHER.Type' | translate }}</th>
                            <th>{{ 'WEATHER.Et' | translate }}</th>
                            <th>{{ 'WEATHER.Lt' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let weather of weatherTable.data">
                            <td>
                                <img *ngIf="weather.name ==='Fair Skies'" src="assets/img/weather/fair_skies.png" alt="Fair Skies" />
                                <img *ngIf="weather.name ==='Dust Storms'" src="assets/img/weather/dust_storms.png" alt="Dust Storms" />
                                <img *ngIf="weather.name ==='Rain'" src="assets/img/weather/rain.png" alt="Rain" />
                                <img *ngIf="weather.name ==='Wind'" src="assets/img/weather/wind.png" alt="Wind" />
                                <img *ngIf="weather.name ==='Thunder'" src="assets/img/weather/thunder.png" alt="Thunder" />
                                &nbsp;
                                <span *ngIf="weather.name === 'Fair Skies'">{{ 'WEATHER.FairSkies' | translate }}</span>
                                <span *ngIf="weather.name === 'Dust Storms'">{{ 'WEATHER.DustStorms' | translate }}</span>
                                <span *ngIf="weather.name === 'Rain'">{{ 'WEATHER.Rain' | translate }}</span>
                                <span *ngIf="weather.name === 'Wind'">{{ 'WEATHER.Wind' | translate }}</span>
                                <span *ngIf="weather.name === 'Thunder'">{{ 'WEATHER.Thunder' | translate }}</span></td>
                            <td>{{ weather.eorzeaTime }}</td>
                            <td>{{ weather.startedAt | date: "HH:mm" }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>

    <div class="gutter-row" nz-col [nzLg]="{ span: 8 }" [nzSm]="{ span: 12 }" [nzXs]="{ span: 24 }">
        <div class="stars-module">
            <div class="card-content">
                <h3>{{ 'STARMOBS.Title' | translate }}</h3>
                <nz-list nzSize="small" nzBordered>
                    <nz-list-item>
                        <div>
                            {{ 'STARMOBS.TIDEBORN.Name' | translate }}
                        </div>
                        <div>
                            {{ 'STARMOBS.RespawnText' | translate }} <countdown [config]="{ stopTime: tidebornTimer$, format: 'm' }" ></countdown>m
                            &nbsp; <button nz-button nzSize="small" (click)="handleStarmobsReset('tideborn')">{{ 'STARMOBS.Reset' | translate }}</button>
                        </div>
                    </nz-list-item>
    
                    <nz-list-item>
                        <div>
                            {{ 'STARMOBS.FERN.Name' | translate }}
                        </div>
                        <div>
                            {{ 'STARMOBS.RespawnText' | translate }} <countdown [config]="{ stopTime: fernTimer$, format: 'm' }" ></countdown>m
                            &nbsp; <button nz-button nzSize="small" (click)="handleStarmobsReset('fern')">{{ 'STARMOBS.Reset' | translate }}</button>
                        </div>
                    </nz-list-item>
    
                    <nz-list-item>
                        <div>
                            {{ 'STARMOBS.CLAW.Name' | translate }}
                        </div>
                        <div>
                            {{ 'STARMOBS.RespawnText' | translate }} <countdown [config]="{ stopTime: clawTimer$, format: 'm' }" ></countdown>m
                            &nbsp; <button nz-button nzSize="small" (click)="handleStarmobsReset('claw')">{{ 'STARMOBS.Reset' | translate }}</button>
                        </div>
                    </nz-list-item>
    
                    <nz-list-item>
                        <div>
                            {{ 'STARMOBS.PSOGLAV.Name' | translate }}
                        </div>
                        <div>
                            {{ 'STARMOBS.RespawnText' | translate }} <countdown [config]="{ stopTime: psoglavTimer$, format: 'm' }" ></countdown>m
                            &nbsp; <button nz-button nzSize="small" (click)="handleStarmobsReset('psoglav')">{{ 'STARMOBS.Reset' | translate }}</button>
                        </div>
                    </nz-list-item>
    
                    <nz-list-item>
                        <div>
                            {{ 'STARMOBS.VIY.Name' | translate }}
                        </div>
                        <div>
                            {{ 'STARMOBS.RespawnText' | translate }} <countdown [config]="{ stopTime: viyTimer$, format: 'm' }" ></countdown>m
                            &nbsp; <button nz-button nzSize="small" (click)="handleStarmobsReset('viy')">{{ 'STARMOBS.Reset' | translate }}</button>
                        </div>
                    </nz-list-item>
    
                    <nz-list-item>
                        <div>
                            {{ 'STARMOBS.SMOK.Name' | translate }}
                        </div>
                        <div>
                            {{ 'STARMOBS.RespawnText' | translate }} <countdown [config]="{ stopTime: smokTimer$, format: 'm' }" ></countdown>m
                            &nbsp; <button nz-button nzSize="small" (click)="handleStarmobsReset('smok')">{{ 'STARMOBS.Reset' | translate }}</button>
                        </div>
                    </nz-list-item>
    
                    <nz-list-item>
                        <div>
                            {{ 'STARMOBS.PATTY.Name' | translate }}
                        </div>
                        <div>
                            {{ 'STARMOBS.RespawnText' | translate }} <countdown [config]="{ stopTime: pattyTimer$, format: 'm' }" ></countdown>m
                            &nbsp; <button nz-button nzSize="small" (click)="handleStarmobsReset('patty')">{{ 'STARMOBS.Reset' | translate }}</button>
                        </div>
                    </nz-list-item>
    
                    <nz-list-item>
                        <div>
                            {{ 'STARMOBS.CLARE.Name' | translate }}
                        </div>
                        <div>
                            {{ 'STARMOBS.RespawnText' | translate }} <countdown [config]="{ stopTime: clareTimer$, format: 'm' }" ></countdown>m
                            &nbsp; <button nz-button nzSize="small" (click)="handleStarmobsReset('clare')">{{ 'STARMOBS.Reset' | translate }}</button>
                        </div>
                    </nz-list-item>
    
                    <nz-list-item>
                        <div>
                            {{ 'STARMOBS.BARATHRUM.Name' | translate }}
                        </div>
                        <div>
                            {{ 'STARMOBS.RespawnText' | translate }} <countdown [config]="{ stopTime: barathrumTimer$, format: 'm' }" ></countdown>m
                            &nbsp; <button nz-button nzSize="small" (click)="handleStarmobsReset('barathrum')">{{ 'STARMOBS.Reset' | translate }}</button>
                        </div>
                    </nz-list-item>
                </nz-list>
            </div>
        </div>

        <div class="tracker-description">
            <div class="card-content">
                <h3>{{ 'TRACKER_DESCRIPTION.Title' | translate }}</h3>
                <nz-list nzSize="large">
                    <nz-list-item>
                        {{ 'TRACKER_DESCRIPTION.New_instance' | translate }}
                    </nz-list-item>
                    <nz-list-item>
                        {{ 'TRACKER_DESCRIPTION.Respawn_rule' | translate }}
                    </nz-list-item>
                </nz-list>
            </div>
        </div>
    </div>

    <div class="map gutter-row" nz-col [nzLg]="{ span: 10 }" [nzSm]="{ span: 24 }" [nzXs]="{ span: 24 }">
        <div class="card-content">
            <h3>{{ 'MAP.Title' | translate }}</h3>
            <img src="assets/img/map/bozjan_map.jpg" alt="Bozja Map" />
        </div>
    </div>

    </div>

