.tracker-module {
    background: white;
    border-radius: 5px;
    padding: 20px;
    
    text-align: center;
}

@media screen and ( max-width: 360px ) {
    .ant-col {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media screen and ( min-width: 960px ) {
    .ant-row {
        margin-top: 10vh;
    }
}