<nz-layout>
  <nz-header nz-row>
    <a nz-col nzSpan="12" routerLink="">
      <img src="assets/img/bozjan-tracker-logo.png" alt="logo" class="brand-logo" />
      <h1 class="logo">{{ 'APP.Title' | translate }}</h1>
    </a>
    <div nz-col nzSpan="12">
      <nz-select nzSize="small" [(ngModel)]="language" (ngModelChange)="updateLanguage()">
        <nz-option nzValue="en" nzLabel="English"></nz-option>
        <nz-option nzValue="fr" nzLabel="Français"></nz-option>
        <nz-option nzValue="de" nzLabel="Deutsch"></nz-option>
        <nz-option nzValue="jp" nzLabel="日本語 (WIP)"></nz-option>
        <nz-option nzValue="ko" nzLabel="한국어"></nz-option>
      </nz-select>
      &nbsp; &nbsp;
      <span>{{ 'WEATHER.Et' | translate }}: {{etTimer}}</span>
    </div>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-content>
  <nz-footer>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <div nz-col nzXs="24" nzLg="8">
        FINAL FANTASY XIV ©2010 - 2021 SQUARE ENIX CO., LTD. FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd.
      </div>
      <div nz-col nzXs="24" nzLg="6" class="center">
        Heavily inspired by <a href="https://ffxiv-eureka.com" target="_blank">https://ffxiv-eureka.com</a>
      </div>
      <div nz-col nzXS="24" nzLg="6" class="center">
        {{ 'APP.Support' | translate }} &nbsp; <a href='https://ko-fi.com/S6S63PVN4' target='_blank'><img height='30' style='border:0px;height:30px;' src='https://cdn.ko-fi.com/cdn/kofi5.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
      </div>
      <div nz-col nzXs="24" nzLg="4" class="right">
        <a href="https://github.com/louisledoux/ffxiv-bozjan-tracker" target="_blank">Version: Delubrum</a>
      </div>
    </div>
  </nz-footer>
</nz-layout>