nz-layout {
  background-image: url('../assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nz-header {
  $nav-height: 30px;

  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  height: $nav-height;

  padding: 0 24px;

  a, div {
    line-height: $nav-height;
  }

  div {
    color: white;
    font-weight: 500;
    text-align: right;
  }
}

.brand-logo {
  float: left;
  margin-top: 5px;
  margin-right: 15px;
  width: 20px;
}

.logo {
  color: white;
  font-size: 1.2em;
}

.inner-layout {
  padding: 24px 0;
  background: none;
}

.inner-content {
  padding: 0 24px;
}

nz-footer {
  color: white;
  background-color: #001529;
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

@media screen and ( min-width: 960px ) {
  .right {
      text-align: right;
  }

  .center {
    text-align: center;
  }
}